@import "variables";
@import "mixin";

*{
  margin: 0;
  padding: 0;
}
.content{
  @include size(100vh, 100vw);
  background-image: url("../public/images/thinking.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: $display-default;
  justify-content: center;
  align-items: center;
}
.holder{
  display: flex;
  user-select: none;
  justify-content: space-around;
  align-items: auto;
  flex-direction: column;
   @include size(90vh, 50vw);
}
.headline{
  text-align: center;
  align-self: auto;
  @include size(40%, 100%);
}
.headline h1{
  font-size: 10vh;
  font-family: $font-default;
  color: #FFC107;
  text-shadow: 2px 2px #000;
}
.button{

  align-self: center;
}
.button input{
  outline: none;
  font-family: $font-default;
  border: none;
  border-radius: 25px;
  background-color:#FFC107;
  @include size(10vh, 25vw);
  font-size: 7vh;
  color: #F5F5F5;
  text-shadow: 2px 2px #000;
}
.button input:hover{
  background-color: #FFF176;
}
.button input:active {
  background-color: #FFC107;
  transform: translateY(4px);
}
