<html>

<head>
  <link rel="stylesheet" href="css/index.css">
</head>

  <body>
    <div id='content' class="content">
      <div class="photo">
        <div id='holder' class="holder">
          <div class="headline">
            <h1>Desdasdase Filépi</h1>
          </div>
          <div class="button">
            <input onclick="changeBackground()" type="button" name="descobrir" value="DESCOBRIR">
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function changeBackground() {
        min = Math.ceil(1);
        max = Math.floor(100);
        num = Math.floor(Math.random() * (max - min)) + min;
        bgImage = document.getElementById('content').style.backgroundImage;
        h1 = document.getElementById('content');
        if(num<33){
          h1 = "Pareamento com massagem!";
          bgImage = "url('../public/images/paring_massuce.jpeg')";
        }else if(num>33 && num<66){
          h1 = "Vai vomitar na Pizza!";
          bgImage = "url('../public/images/pizza_puke.jpg')";
        }else if(num>66){
          h1 = "Full Depressão";
          bgImage = "url('../public/images/hello_darkness.jpeg')";
        }

      }
    </script>
  </body>
</html>
